# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Caches e testes
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# IDE / editores
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Variaveis de ambiente
.env
